h1 {
  color: red;
}

.as {
  border: 2px solid black;
  height: 320px;
}

.btn {
  width: 100px;
  padding: 8px;
}

input::placeholder {
  color: blue;
}

.form,
h1 {
  display: grid;
  place-items: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.item {
  grid-row: 1/4;
  display: grid;
  grid-template-rows: subgrid;
}
